@page "/"

@inject HttpClient Http

<h1><a href="/">College of Education Halloween Story</a></h1>

@if (story == null)
{
<p><em>Loading...</em></p>
}
else
{
@foreach (var sentence in story)
    {
<p>@sentence</p>
    }

<div class="bottom">
    <input placeholder="Enter the next sentence. Remember, all submissions are final..." @bind-value="@sentence" />

    <button @onclick="AddSentence">
        Add a Sentence
    </button>
</div>
}

@code {
    private string[] story;

    private string sentence;

    protected override async Task OnInitializedAsync()
    {
        story = await Http.GetFromJsonAsync<string[]>("Story");
    }

    protected async Task AddSentence()
    {
        await Http.PostAsJsonAsync("Story", sentence);
        story = await Http.GetFromJsonAsync<string[]>("Story");
    }
}